<% contentFor('body') %>

<h3>Sobre o cardápio</h3>

<p>Bite my shiny metal ass. No, just a regular mistake. Bender, being God isn't easy. 
    If you do too much, people get dependent on you, and if you do nothing, they lose hope. 
    You have to use a light touch. Like a safecracker, or a pickpocket.
</p>